<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Chatbot
        </title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <section>
            <h1>Web conversional chatbot</h1>
            <button><i class ="fa fa-microphone"></i></button>
            
            <div>
                <p>
                    You: <em class="output-you">...</em>
                </p>
                <p>
                    Bot: <em class="output-bot">...</em>
                </p>
            </div>
        </section>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>